<link rel="stylesheet" href="/css/doctor-index.css" />
<body>
    <section class="featured-doctors-section py-5">
        <div class="container">
            <div class="row mb-4 mb-lg-5">
                <div class="col-12 text-center">
                    <h2 class="section-heading">ĐỘI NGŨ BÁC SĨ</h2>
                </div>
            </div>
            <div id="doctor-list" class="row g-4">
                @* DANH sách bác sĩ sẽ load ở đây *@
            </div>
        </div>
    </section>
    <script src="/js/doctor-index.js"></script>
</body>