@{
    ViewData["Title"] = "Danh sách bài viết";
}
<link rel="stylesheet" href="/css/article-index.css">

<body>
    <div class="container mt-4">
    <h1 class="text-center text-success mb-4">BÀI VIẾT</h1>

    <div id="article-list" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @* hiển thị danh sách bài viết ở đây *@
    </div>
    
    </div>
    <script src="/js/article-index.js"></script>
</body>